// bower:scss
// endbower

body.b6 {
  padding: 0 20px;
  padding-top: 70px;
  margin: 0;
  font-family: 'Futura';
  letter-spacing: 1px;

}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.navbar {
  height: 70px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);


  img {
    height: 100%;
    width: auto;
    float: left;
  }

  ul {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      height: 100%;
      line-height: 70px;
      margin: 0;
      padding: 0;
      padding-left: 20px;

      a {
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        transition: all .5s linear;
        &:hover {
          text-decoration: underline;
        }

      }
    }
  }
}

.container-6 {
  width: 100%;


  .masonry {
      padding: 0;
      margin: 0 auto;
  }

  .item {
      display: block;
      background: #fff;
      padding-bottom: 10px;
      break-inside: avoid;
      position: relative;
      cursor: pointer;

      .overlay {
        position: absolute;
        opacity: 0;
        background-color: black;
        transition: all 0.2s cubic-bezier(.25,.8,.25,1);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
        flex-direction: column;

        h1 {
          display: block;
          position: relative;
          font-weight: 100;
          color: white;
          font-size: 16px;
          margin-top: 0;
          margin-bottom: 5px;
          text-transform: uppercase;
          letter-spacing: 1px;
          overflow: hidden;
        }
        p {
          display: block;
          position: relative;
          color: white;
          font-size: 10px;
          margin: 0;
          letter-spacing: 1px;
          text-transform: uppercase;
          overflow: hidden;
        }
      }

      overflow: hidden;

      &.first-1,
      &.first-2,
      &.first-3,
      &.first-4 {
        .overlay {
          transition: all .2s cubic-bezier(.25,.8,.25,1);
        }
      }

      &.first-1 {
        .overlay {
          transition: all .2s cubic-bezier(.25,.8,.25,1);
        }
      }

      &.first-2 {
        .overlay {
          transition: all .3s cubic-bezier(.25,.8,.25,1);
        }
      }

      &.first-3 {
        .overlay {
          transition: all .4s cubic-bezier(.25,.8,.25,1);
        }
      }

      &.first-4 {
        .overlay {
          transition: all .5s cubic-bezier(.25,.8,.25,1);
        }
      }

      &.first-1:hover, 
      &.first-2:hover, 
      &.first-3:hover, 
      &.first-4:hover {
        .overlay {
          opacity: .9;
        }
      }

      /*
      &:nth-child(2) {
        .overlay {
          left: auto;
          right: 100%;
        }
      }
      &:nth-child(2):hover {
        .overlay {
          opacity: .9;
          right: 0;
        }
        .img-wrapper {
          box-shadow: 0 1px 3px rgba(0,0,0,0.4), 0 1px 2px rgba(0,0,0,0.8);
        }
      }
      */

      /*
      &:nth-child(11):hover,
      &:nth-child(3):hover {
        .overlay {
          opacity: .9;
        }

        .line {
          left: 100%;
        }
      }
      */

      .line {
        display: block;
        height: 2px;
        background-color: white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        left: 0;
      }

      h1 {
        .line {
          transition: all 0.4s cubic-bezier(.25,.8,.25,1) .2s;
        }
      }

      p {
        .line {
          transition: all 0.4s cubic-bezier(.25,.8,.25,1) .3s;
        }
      }

      .img-wrapper {
        transition: all 0.2s cubic-bezier(.25,.8,.25,1);
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        //border: 1px solid black;
        border-radius: 1px;
        position: relative;
        padding-bottom: 57.26%;

        &.landscape {
        }

        &.portrait {
          padding-bottom: calc(114.52% + 6px);
        }
        img {
          transition: all .2s ease-in-out;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          right: 0;
          cursor: pointer;
        }
      }
  }

  .caption {
    color: black;
    background-color: white;
    padding: 15px;
    border: 1px solid black;
    margin-top: -1px;

    h2 {
      font-size: 12px;
      margin: 0;
    }

    p {
      margin: 0;
      font-size: 10px;
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .container-6 {

    .masonry {
        column-gap: 10px;
        column-count: 2;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1205px) {
  body.b6 {
    //padding: 65px 80px;
  }

  .container-6 {
    width: 100%;

    .masonry {
        column-gap: 0;
        column-count: 4;
        width: 1265px;
    }

    .item {
      padding: 3px;
    }
  }

}